---
layout: page
title: Guía del asistente
subtitle: "¿Qué tengo que hacer si soy asistente?"

bares:
  - nombre: Comercial Los Corrales
    m: 230
    plazas: 1
    latitud: 28.48151
    longitud: -16.32139
  - nombre: Bar Restaurante El Cortijo
    m: 440
    plazas: 2
    latitud: 28.48201
    longitud: -16.32672
  - nombre: Bodegón Gaspar (¿cerrado?)
    m: 490
    plazas: 4
    latitud: 28.48345
    longitud: -16.32430
  - nombre: Taberna Franco
    m: 620
    plazas: 4
    latitud: 28.483015
    longitud: -16.327023
  - nombre: Tennessee
    m: 730
    plazas: 3
    latitud: 28.48382
    longitud: -16.32657
  - nombre: Rincón de Make
    m: 770
    plazas: 2
    latitud: 28.48615
    longitud: -16.32481
  - nombre: Bar La Cruzada
    m: 790
    plazas: 2
    latitud: 28.48505
    longitud: -16.32554
  - nombre: Bar Sinfreno
    m: 930
    plazas: 4
    latitud: 28.48653
    longitud: -16.32275
---

<h2>¿Hay ordenadores o tengo que llevar mi portatil?</h2>

<p>Para los <strong>talleres</strong>, las sala de informática dispone de 58 ordenadores y huecos libres. Por tanto, no es estrictamente necesario que traigas tu portátil, pero puedes.</p>
<p>Para las <strong>charlas</strong>, el aula de estudio no tiene ordenadores, por tanto, si quieres complementar lo que va diciendo el ponente, <strong>deberías traer tu portátil</strong>.</p>

<h2>¿Dónde almorzar por la zona?</h2>

<p>Tienes dos horas para comer. Por el Coromoto hay varios bares y restaurantes
a menos de 800m, a los que se puede ir caminando en llano. Los bares más
cercanos de la Avda. Trinidad están a 700m, pero ten en cuenta que al volver te
tocará subir la rampa con un peso extra. Pulsa en los enlaces para abrir las
ubicaciones en tu navegador GPS.</p>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="text-center">Aforo</th>
            <th class="text-center">Distancia</th>
            <th class="text-center">Ubicación</th>
        </tr>
    </thead>
    <tbody>
{% for bar in page.bares %}
        <tr>
            <td>{{bar.nombre}}</td>
            <td class="text-center">{% if bar.plazas %}<span class="badge">{% for i in (1..bar.plazas) %}<i class="fa fa-group"></i>{% endfor %}</span>{% endif %}</td>
            <td class="text-center">{{bar.m}}m</td>
            <td class="text-center"><a href="geo:{{bar.latitud}},{{bar.longitud}}?z=19">{{bar.latitud}},{{bar.longitud}}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div class="container-fluid" id="mapdiv" style="height: 300px"></div>

<script src="//www.openlayers.org/api/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    
    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat(-16.32263, 28.48306).transform(epsg4326, projectTo);
    var zoom=15;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

    // Define markers as "features" of the vector layer:
    {% for bar in page.bares %}
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point({{bar.longitud}}, {{bar.latitud}}).transform(epsg4326, projectTo),
            {description:'{{bar.nombre}} a {{bar.m}}m'} ,
            {externalGraphic: '/img/marker2.png', graphicHeight: 25, graphicWidth: 25, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);
    {% endfor %}

    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point(-16.32263, 28.48106).transform(epsg4326, projectTo),
            {description:'Edificio de Servicios al Alumnado de Anchieta'} ,
            {externalGraphic: '/img/marker-python.png', graphicHeight: 25, graphicWidth: 25, graphicXOffset:-12, graphicYOffset:-12  }
        );    
    vectorLayer.addFeatures(feature);

    map.addLayer(vectorLayer);
 
    
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
      
</script>

<p><small><img src="/img/marker2.png"> Sitios para almorzar</small></p>
